%h1 Socionics Theory

%section
	=link_to "Personality Types", "#"
%section
	=link_to "Intertype Relations", "#"
%section
	=link_to "Information Elements", "#"
%section
	=link_to "Functions", "#"
%section
	=link_to "Functions Dichotomies", "#"
%section
	=link_to "Dichotomies", "#"
%section
	=link_to "Small Groups", "#"
