%h1 Socionics Theory

%section 
	%p Meet the 16 Socionics types

	<div class="spritzer" id="spritzer1" data-role="spritzer" data-url="http://www.wikisocion.org/en/index.php?title=Classical_socionics">
	<select id="textList" size="1">
		<option value="">Select Text</option>
		<option value="text1">Hello World</option>
		<option value="text2">Wilbur Wright</option> 
	</select>
	</div>
	
	#spritzer
		%p A sample paragraph.

	%table
		- @socionics_types.each do |type|
			%tr
				%td= type.type_four_letter
				%td= type.type_three_letter
				%td= type.type_two_im

%section 
	(app)

%section Socionics Theory - Map

%section
	=link_to "Information Elements", "#"
%section
	=link_to "Functions", "#"
%section
	=link_to "Function Dichotomies", "#"
%section
	=link_to "Personality Types", "#"
%section
	=link_to "Type Dichotomies", "#"
%section
	=link_to "Small Groups", "#"
%section
	=link_to "Intertype Relations", socionics_intertype_relations_path


