%h1 Socionics Theory

%section 
	(app)

%section Socionics Theory - Map
%section
	=link_to "Personality Types (Socions)", "#"
%section
	=link_to "Intertype Relations", "socionics_intertype_relations_path"
%section
	=link_to "Information Elements", "#"
%section
	=link_to "Functions", "#"
%section
	=link_to "Functions Dichotomies", "#"
%section
	=link_to "Type Dichotomies", "#"
%section
	=link_to "Small Groups", "#"
