%h1 Intertype Relations

%section
	:plain
		<p>
			What determines the intertype relation for two personality types? It's all about an information element being one function for one personality type, and that information element being another function for another personality type.
		</p>
		<p>
		Explore intertype relations for yourself!
		</p>

%section
= render 'intertype_relations'
%section
	:plain
		<p>
		Example: 
		ENTp and INTj
		ENTp has Ne as the (1) leading function  and Ti as the (2) creative function.
		INTj has Ti as the (1) leading function  and Ne as the (2) creative function.
		</p>
		<p>
		This makes INTj the mirror of ENTp's. This is how we know:
		</p>
		<p>
		Ti, which is the INTj's leading (1) function, is the ENTp's creative (2) function.
		Ne, which is the INTj's creative (2) function, is the ENTp's leading (1) function.
		</p>
		<p>
		Notice that the same is true in the reverse direction (ENTp to INTj). ENTp's leading function is the INTJ's creative function.
		So the mirror relationship is symmetrical. 
		</p>
		<p>
		There are 12 symmetrical relationships, and 4 asymmetrical relationships, making a total of 16 possible relationships (same as number of personality types). The asymmetrical relationships (supervision and benefit) come in pairs.
		</p>


	(relation sorting app)
	(functions comparison app)

	identity
	dual
	activation
	mirror

	Kindred
	Semi-dual
	business
	mirage

	super-ego
	conflict
	quasi-identity
	extinguishment

	supervisor
	supervisee
	benefiter
	benfitgiver


	circle of supervision
	circle of request

%section
	%table
		%thead
			%tr
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
				%th
		%tbody
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
			%tr
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
				%td
