%h1 Intertype Relations

(app)

identity
mirror



circle of supervision

circle of request


%table
	%thead
		%tr
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
	%tbody
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
