%h1 Intertype Relations

(relation sorting app)
(functions comparison app)

identity
dual
activation
mirror

Kindred
Semi-dual
business
mirage

super-ego
conflict
quasi-identity
extinguishment

supervisor
supervisee
benefiter
benfitgiver


circle of supervision
circle of request

%table
	%thead
		%tr
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
	%tbody
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
