%h1 Intertype Relations

.outer
	.inner
		#neti.tile.quadra-alpha
			.type Ne Ti
		#sife.tile.quadra-alpha
			.type Si Fe
		#fesi.tile.quadra-alpha
			.type Fe Si
		#tine.tile.quadra-alpha
			.type Ti Ne

		#feni.tile.quadra-beta
			.type Fe Ni
		#tise.tile.quadra-beta
			.type Ti Se
		#seti.tile.quadra-beta
			.type Se Ti
		#nife.tile.quadra-beta
			.type Ni Fe

		#sefi.tile.quadra-gamma
			.type Se Fi
		#nite.tile.quadra-gamma
			.type Ni Te
		#teni.tile.quadra-gamma
			.type Te Ni
		#fise.tile.quadra-gamma
			.type Fi Se

		#tesi.tile.quadra-delta
			.type Te Si
		#fine.tile.quadra-delta
			.type Fi Ne
		#nefi.tile.quadra-delta
			.type Ne Fi
		#site.tile.quadra-delta
			.type Si Te





(relation sorting app)
(functions comparison app)

identity
dual
activation
mirror

Kindred
Semi-dual
business
mirage

super-ego
conflict
quasi-identity
extinguishment

supervisor
supervisee
benefiter
benfitgiver


circle of supervision
circle of request

%table
	%thead
		%tr
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
			%th
	%tbody
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
