%h1 Romance Styles

%div
  %h5 Se in 1st or 2nd function (Aggressor)
  %p
%div
  %h5 Ni in 1st or 2nd function (Victim)
  %p
%div
  %h5 Si in 1st or 2nd function (Caregiver)
  %p
%div
  %h5 Ne in 1st or 2nd function (Infantile)
  %p