%h1 Listing worlds

%table
  %tr
    %th
    %th
    %th

  - @worlds.each do |world|
    %tr
      %td= link_to 'Show', world
      %td= link_to 'Edit', edit_world_path(world)
      %td= link_to 'Destroy', world, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New World', new_world_path
