/**************************
STYLING
**************************/

/*----------
custom-reset
----------*/

body {
	@include font-size();
	font-family: sans-serif;
	background-image: url("45degreee_fabric_2x.png");
}




/*----------
footer
----------*/
footer {
	background-color: rgb(0,50,125);

	ul#links {
		li {
			list-style: none;
		}
	}
}
/*----------
header
----------*/
header {
	overflow: hidden;
	background-color: rgb(0,0,0);
	a {
		height: auto;
	}
	#logo {
		position: absolute;
	}
}


/*------------------------------
Navbar top affixing with js.
-------------------------------*/
.affix {
  position: fixed;
  top: 0px;
  z-index: 99;
  box-shadow: 0px 4px 2px -2px #888;

}

.affixable {		
	@include nav-background-color();
}

/*----------
nav
----------*/

nav {
	align-items: center;

	@include nav-background-color();
	font-family: Helvetica;
	font-weight: 500;
	font-size: 1.2em;
	width: 100%;

	ul {
		align-items: center;
		@extend .list-inline;
		white-space: nowrap;

		#characters-navbar {
			background: url("character_pikachu.png");
			@include navbar-icon;
		}
		#universes-navbar {
			background: url("universe.jpg");
			@include navbar-icon;
		}
		#celebrities-navbar {
			background: url("star_blue_1.png");
			@include navbar-icon;
		}
		#friends-navbar {
			background: url("node_1.jpg");
			@include navbar-icon;
		}
		#personalites-navbar {
			background: url("puzzle_personality_1.jpg");
			@include navbar-icon;
		}
		#tests-navbar {
			background: url("clipboard_3d.jpg");
			@include navbar-icon;
		}
		#tools-navbar {
			background: url("tools_1.png");
			@include navbar-icon;
		}
		#login-navbar {
			background: url("log_1.jpg");
			@include navbar-icon;
		}

		li {
			list-style: none;

			a {
				display: block;

				&:hover {
					text-decoration: none;
				}				
				&:focus {
					text-decoration: none;
				}
			}
			ul.dropdown-menu {
				padding: 0;

				li {
					display: block;
					padding: 0;
				}
			}
		}
	}
	ul#links {

		form {
			@extend .navbar-form;

			.form-group {

				input {
					@extend .form-control;
				}

				button {
					@extend .btn;
					@extend .btn-default ;
					@extend .form-control;
				}
			}
		}
	}
	ul#login {
	}
}



/*----------
likeasomebodeeh
----------*/

#likasomebodeeh {
	padding: $gutter-v 0 ;
}

/*----------
sidebars
----------*/
.sidebar {
	@include non-background-color();
}

/*----------
sidebar-one
----------*/

#sidebar-one {
	@extend .sidebar;
		
	@include body-item-box-shadow();

	#spritzer {
		margin: 0 (-$gutter-h) $gutter-v;
	}

	.sidebar-one-element {
				
		margin:  0 0 1em;
		padding: $gutter-v $gutter-h 0;

		@include sidebar-top-corners();

		.element-title {
			margin:  (-$gutter-v) (-$gutter-h) 2*$gutter-v;
			padding: $gutter-v $gutter-h;

			text-align: center;
			font-weight: 600;
			color: white;
			background-color: rgb(0, 100, 200);
			@include sidebar-top-corners();
		}
	}
}


/*----------
sidebar-two
----------*/
#sidebar-two {
	@extend .sidebar;

	@include body-item-box-shadow();

	.film-v {
		img {
			width: $sidebar-two-width;
			height: auto;
		}
	}	
}

#sidebar-three {
	@extend .sidebar;

	@include body-item-box-shadow();

	.film-h {
		img {
			width: auto;
			height: $sidebar-three-height;
		}
	}	
}


/*----------
main
----------*/
main {

	padding: $gutter-v $gutter-h;
	min-height: 900px;

	@include non-background-color();
	@include body-item-box-shadow();

	.tag-list {

	}
}


/*----------
spacers
----------*/


