/**************************
RESPONSIVE CUTOFF WIDTHS
**************************/

/*----------------------------------------
ONLY xs devices (phones, 1px to 767px) (doesn't cascade)
----------------------------------------*/
@media only screen and (max-width: $screen-xs-max) { 
	#sidebar-one {
		display: none;
	}

}


/*----------------------------------------
xs is default. Smaller sizes cascade to larger sizes. Flow structure.
----------------------------------------*/





/*----------------------------------------
sm devices (tablets, 768px to 991px)
----------------------------------------*/
@media only screen and (min-width: $screen-sm){ 
	#sidebar-one {
		display: flex;
	}
}


/*----------------------------------------

md devices (desktops, 992px to 1199px)
----------------------------------------*/
/*@media only screen and (min-width: $screen-md){ 

}*/


/*----------------------------------------
lg devices (large desktops, 1200px and up)
----------------------------------------*/
@media only screen and (min-width: $screen-lg){ 

	.wrap {
		max-width: $max-width;
	}

}