%h1= @user.username

.votes-display
  -# @character. do |type|
  .bar-container
    .bar-neti
  .bar-container
    .bar-sife
  .bar-container
    .bar-fesi
  .bar-container
    .bar-tine
  .bar-container
    .bar-feni
  .bar-container
    .bar-tise
  .bar-container
    .bar-seti
  .bar-container
    .bar-nife
  .bar-container
    .bar-sefi
  .bar-container
    .bar-nite
  .bar-container
    .bar-teni
  .bar-container
    .bar-fise
  .bar-container
    .bar-te-si
  .bar-container
    .bar-fi-ne
  .bar-container
    .bar-ne-fi
  .bar-container
    .bar-si-te

%br/
.comments
  %h2 Comments
  = render partial: 'comments/form', locals: { comment: @new_comment } if user_signed_in?
  = render partial: 'comments/comment', collection: @comments, as: :comment