<section class="container-fluid main-body">

	<!-- Main content -->
	<div class="col-sm-10">

<h1>Lesson 1 - Embedded Spritzer Controller</h1>	

<div data-role="spritzer"></div>
  	
	<p>
  	  The following procedure describes the easiest way to use the Spritz SDK for JavaScript.<br>
  	   1. Load the JavaScript into your page.<br>
  	   2. Initialize the client with your application ID.<br>
  	   3. Define an element with <font face ="Courier New">data-role="spritzer"</font face> on your page.<br>
  	A redicle appears on your page that will spritz the page that hosts it.
	</p>
	
<a href="https://spritzinc.atlassian.net/wiki/display/jssdk/Lesson+1%3A+Embedding+the+Spritz+JavaScript+SDK">Read more documentation on Lesson 1</a>

