.vote-comment-buttons
  = link_to image_tag("upvote.png"), send("vote_down_comment_comment_path", comment), method: :post, remote: true
  %span=# @comment.get_upvotes.sum(:vote_weight)
  = link_to image_tag("downvote.png"), send("vote_down_comment_comment_path", comment), method: :post, remote: true