.tool-intertype-relations
	.header
		.selected
			.tile.quadra-alpha
				.type 
					.leading
						Ne 
					.creative 
						Ti		
		.text 
			type-chosen is relation of type1
	.inner
		.relation
			Identity
		.relation
			Dual
		.relation
			Activator
		.relation
			Mirror
		#neti.tile.quadra-alpha
			.type 
				.leading
					Ne 
				.creative 
					Ti		
		#sife.tile.quadra-alpha
			.type Si Fe
		#fesi.tile.quadra-alpha
			.type Fe Si
		#tine.tile.quadra-alpha
			.type Ti Ne

		.relation
			Benefactor
		.relation
			Supervisee
		.relation
			Business
		.relation
			Mirage
		#feni.tile.quadra-beta
			.type Fe Ni
		#tise.tile.quadra-beta
			.type Ti Se
		#seti.tile.quadra-beta
			.type Se Ti
		#nife.tile.quadra-beta
			.type Ni Fe

		.relation
			Super-Ego
		.relation
			Extinguishment
		.relation
			Quasi-Identity
		.relation
			Conflict
		#sefi.tile.quadra-gamma
			.type Se Fi
		#nite.tile.quadra-gamma
			.type Ni Te
		#teni.tile.quadra-gamma
			.type Te Ni
		#fise.tile.quadra-gamma
			.type Fi Se

		.relation
			Beneficiary
		.relation
			Supervisor
		.relation
			Kindred
		.relation
			Semi-Dual
		#tesi.tile.quadra-delta
			.type Te Si
		#fine.tile.quadra-delta
			.type Fi Ne
		#nefi.tile.quadra-delta
			.type Ne Fi
		#site.tile.quadra-delta
			.type Si Te
		.footer
			characterpersonalities.com
