%h1 Functions

%p Note: Those familiar MBTI will notice that the 1st,2nd, 3rd, 4th functions in MBTI correspond to the 1st, 2nd, 6th, and 5th functions in socionics. These are the <a href=#>valued functions</a> in socionics.
%p Note: MBTI's 5th 6th 7th 8th shadow functions correspond to socionics's 7th, 8th, 4th, 3rd functions respectively.

%section (js app for conversion)

%section
	%h2 (1) Leading Function (a.k.a. Base Function)
	%h2 (2) Creative Function
	%h2 (3) Vulnerable Function
	%h2 (4) Role Function
	%h2 (5) Mobilizing Function (a.k.a. Activating Function)
	%h2 (6) Suggestive Function (a.k.a. Dual-seeking Function)
	%h2 (7) Ignoring Function (a.k.a. Observing, Limiting Function)
	%h2 (8) Demonstrative Function

%section (js app)