%h1 (Si) Introverted Sensing
:plain
	<button class="btn btn-primary" id="startSpritz" type="submit">Speed Read!</button>
	<section id="spritzable-1">
		Si is associated with the ability to internalize sensations and to experience them in full detail.
	</section>
	<section id="spritzable-2">
		Si focuses on tangible, direct (external) connections (introverted) between processes (dynamic) happening in one time, i.e. the physical, sensual experience of interactions between objects. This leads to an awareness of internal tangible physical states and how various physical fluctuations or substances are directly transferred between objects, such as motion, temperature, or dirtiness. The awareness of these tangible physical processes consequently leads to an awareness of health, or an optimum balance with one's environment. The individual physical reaction to concrete surroundings is main way we perceive and define aesthetics, comfort, convenience, and pleasure.
	</section>
	<section id="spritzable-3">
		In contrast to extroverted sensing Se, Si is related to following one's own needs instead of focusing on some externally-driven conception of what is necessary to acquire or achieve. So, whereas Se ego types feel capable to evaluate how justified others' preferences are, Si ego types will try to adjust to them in any way possible (given that it does not extremely affect their own comfort), wishing to minimize conflict.
	</section>
	<section id="spritzable-44">
		In contrast to introverted intuition Ni, Si is about direct interaction and unity (or discord) with one's surroundings, rather than abstract process and causal links.
		Types that value Si prefer to spend their time doing enjoyable activities rather than straining themselves to achieve goals. They like to believe that if activities are done with enjoyment, people will give them more effort and time, and also becoming more skilled at what they are doing in the long run. They believe that goals should suit people's intrinsic needs rather than shaped by the demands and constraints of the external world, and so do not try to force others into doing things they don't want to do. They also try to be easygoing and pleasant, preferring peaceful coexistence to conflict, except when their personal well-being or comfort is directly at stake.
	  The following procedure describes the easiest way to use the Spritz SDK for JavaScript.<br>

	   3. Define an element with <font face ="Courier New">data-role="spritzer"</font face> on your page.<br>
		A redicle appears on your page that will spritz the page that hosts it.

	</section>
