/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* 
For dev visual distinguishability.
*/

/*
RESPONSIVE CUTOFF WIDTHS
Widths for site (device in portrait mode)

Major:
480px
768
1024

Minor:
320
720
900
*/

header, footer, .navbar {

}
header {
	border: 1px solid black;
}
footer {
	border: 1px solid black;
}
nav {
	border: 1px solid yellow;
}
.sidebar-one, .sidebar-two {
	border: 1px solid green;
}
.main {
	border: 1px solid blue;
	height: 500px;
}

/*
Navbar top affixing with js.
*/
nav {
	background: -webkit-linear-gradient(rgba(0,0,255,1), rgba(0,0,255,1) 90%, rgba(0,0,255,0)); /*Safari 5.1-6*/
	background: -o-linear-gradient(     rgba(0,0,255,1), rgba(0,0,255,1) 90%, rgba(0,0,255,0)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(   rgba(0,0,255,1), rgba(0,0,255,1) 90%, rgba(0,0,255,0)); /*Fx 3.6-15*/
	background: linear-gradient(        rgba(0,0,255,1), rgba(0,0,255,1) 90%, rgba(0,0,255,0)); /*Standard*/
}
.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #129;
}
