- 8.times do
	-# use js to make this a link, not anchor wrapping tag.
	.filmstrip-h-element
		.proportional
			=image_tag("homer_drool.jpg")

			=#link_to image_tag(character.imageurl(:medium)), character_path
