%aside#sidebar-two.sidebar.hidden-xs.col-sm-2
	%h1 SIDEBAR TWO
	%p
	recommendations to increase page views 
	(chars from other shows)
	(other XXXX chars with same type as current)
	(similar shows)
	(celebs and voice actors of current type)
	(members)