%aside#sidebar-one
	.sidebar-element
		%h1 SIDEBAR ONE
	.sidebar-element
		<div id="spritzer">
		<span id="spritzerWordProgress">0</span> of <span id="spritzerWordTotal"></span>

	Tab between theories
	Links to tools, tests
	Personality theory concept heirarchy map.
	
