.sidebar-one-element
	.element-title Speed Reader
	:plain
		<div id="spritzer"></div>
	:plain
		<p><span id="spritzerWordProgress">0</span> of <span id="spritzerWordTotal"></span></p>
.sidebar-one-element
	.element-title
		Personality Theory
	%p
		Tab between theories
		Links to tools, tests
		Personality theory concept heirarchy map.

